[submodule "adaptive_Automation"]
	path = adaptive_Automation
	url = https://github.com/Sage-Clokey/adaptive-Automation.git
[submodule "Living_Age_Youtube_Channel"]
	path = Living_Age_Youtube_Channel
	url = https://github.com/Sage-Clokey/Living-Age-Youtube-Channel.git
[submodule "writings/sagent creed book"]
	path = writings/sagent creed book
	url = https://github.com/Sage-Clokey/sagent-creed-book.git
[submodule "Living works by the word"]
	path = Living works by the word
	url = https://github.com/Sage-Clokey/Living-works-by-the-word.git
[submodule "core/contacts"]
	path = core/contacts
	url = https://github.com/Sage-Clokey/living-age-contacts.git
